<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>
        <%= cheese.name %>
    </title>
</head>

<body>
    <h1>
        <%= cheese.name %>
    </h1>
    <!-- Conditional rendering based on fruit's readiness -->
    <% if (cheese.isStinky) { %>
        <p>This cheese is stinky!</p>
        <% } else { %>
            <p>This cheese is not stinky!</p>
            <% } %>

                <form action="/cheeses/<%=cheese._id%>?_method=DELETE" method="POST">
                    <button type="submit">Delete <%= cheese.name %></button>
                </form>
                <a href="/cheeses/<%= cheese._id %>/edit">Edit <%= cheese.name %></a>
                <a class="cheeses-index-link" href="/cheeses">
                    <div class="index-link-text">Back to Cheeses</div>
                </a>

</body>

</html>